// Styling for the project section
.project {
  margin-top: 4em;
  .project-item {
    right: 0;
    margin: 0 0 15px;
    .project-link {
      position: relative;
      display: block;
      max-width: 400px;
      margin: 0 auto;
      cursor: pointer;
      .caption {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        opacity: 0;
        background: fade-out($theme-success, .1);
        &:hover {
          opacity: 1;
        }
        .caption-content {
          font-size: 20px;
          position: absolute;
          top: 50%;
          width: 100%;
          height: 20px;
          margin-top: -12px;
          text-align: center;
          color: white;
          i {
            margin-top: -12px;
          }
          h3,
          h4 {
            margin: 0;
          }
        }
      }
    }
  }
  * {
    z-index: 2;
  }
}
@media(min-width:767px) {
  #project {
    .project-item {
      margin: 0 0 30px;
    }
  }
}



.project-modal {
  .modal-dialog {
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    border: none;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    .modal-content {
      padding: 100px 0;
      border: 0;
      border-radius: 0;
      h2 {
        font-size: 3em;
        margin: 0;
      }
      img {
        margin-bottom: 30px;
      }
      .item-details {
        margin: 30px 0;
      }
    }
  }
  .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      opacity: 0.3;
    }
    .lr {
      /* Safari and Chrome */
      z-index: 1051;
      width: 1px;
      height: 75px;
      margin-left: 35px;
      /* IE 9 */
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: $theme-primary;
      .rl {
        /* Safari and Chrome */
        z-index: 1052;
        width: 1px;
        height: 75px;
        /* IE 9 */
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        background-color: $theme-primary;
      }
    }
  }
  .modal-backdrop {
    display: none;
    opacity: 0;
  }
}

#about{
  a{
    color:white!important;
    
  }
  img:hover{
    box-shadow: 10px 10px 5px #888888;
  }img-div{
    padding: 1em;
  }
}

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

@media(max-width:724px){
  .snip1566{
    width:70%!important;
    margin:auto!important;
  }
}

.snip1566 {
  position: relative;
  display: inline-block;
  color: rgb(187, 187, 187);
  font-size: 16px;
  width:21%;
  margin:2%;
  box-shadow: none !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  *, &:before, &:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  &:before, &:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    border: 1em solid $theme-primary;
    border-color: transparent $theme-primary;
  }
  img {
    width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    border-radius: 50%;
    padding: 10px;
  }
  figcaption {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
  }
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    z-index: 1;
  }
  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  &:hover figcaption, &.hover figcaption {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  &:hover:before, &.hover:before, &:hover:after, &.hover:after {
    border-width: 10px;
  }
  &:hover:before, &.hover:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:hover:after, &.hover:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.about-list{
  width: 80%;
  margin:auto;
  margin-top: 10em;
  margin-bottom: 2em;
  .about-item{
    padding: 1em;
    border-bottom: 0.1em solid $theme-primary;
  }
  p{
    padding: 1em;
  }
  .about-item-name{
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  .about-item-desig{
    font-weight: bolder;
    font-size: 1em;
  }
  .about-item-domain{
    font-weight: bolder;
    font-size: 0.75em;
  }
  .about-item-link{
    
  }
      
}